<div class="page-header">
    <h1>Trainingstag</h1>
</div>
<div ng-include src="'app/views/day.html'" />

<div class="page-header">
    <h1>Trainingstage</h1>
</div>
<div ng-include src="'app/views/days.html'" />

<br>
<div>
    Export:<br>
    <input type="button" value="Als Datei speichern" ng-click="downloadJsons()" class="btn btn-default">
</div>
<br>
<div ng-hide="$storage.days.length != 0">
    Import:
    <input type="file" id="file" value="von Datei lesen" name="file" class="btn btn-default">
</div>

<div class="page-header">
    <h1>Auswertung</h1>
</div>
<div ng-include src="'app/views/diagram.html'" />